@font-face {
  font-family: pixelFont;
  src: url(../font/Minecraft.ttf);
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: black;
  font-family: pixelFont;
  letter-spacing: 3px;
  user-select: none;
  cursor: none;
}

.pong-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.pong {
  position: relative;
  color: white;
  text-transform: uppercase;
}

#pong-player-score, #pong-ai-score {
  position: absolute;
  top: -20px;
  left: 5px;
  font-size: 20px;
  width: 10px;
  height: 1em;
  color: white;
}

#pong-ai-score {
  left: 485px;
}

#pong-start-screen,
#pong-win-screen, #pong-pause-screen {
  position: absolute;
  font-size: 24px;
  left: 50%;
  top: 43%;
  width: 100%;
  transform: translate(-50%, -50%);
  text-align: center;
  display: none;
}
